*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  display: flex;
  max-width: 1170px;
  flex-direction: column;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #a2d5c6;
  width: 100%;
  max-width: 1170px;
  min-height: 450px;
}

.addnewcity_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #077b8a;
  max-width: 1170px;
  width: 100%;
  padding-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  min-width: 200px;
  margin: 2% 2%;
  border: 5px solid #077b8a;
  border-radius: 10%;
  height: 300px;
  background-color: rgb(209, 236, 159);
}

.card span {
  margin-left: 15px;
  font-weight: 800;
}

.title {
  color: #d72631;
  font-weight: 1000;
  font-size: 22px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  outline: none;
  border: 3px solid #077b8a;
  border-radius: 5px;
  background: rgb(209, 236, 159);
  padding-left: 10px;
  margin-top: 10px;
}

button {
  margin-bottom: 10px;
  height: 30px;
  width: 100%;
  max-width: 100px;
  background-color: #d72631;
  border: 3px solid #a2d5c6;
  border-radius: 5px;
  cursor: pointer;
  color: #5c3c92;
  font-size: 16px;
  font-weight: 800;
}

.details {
  margin-top: 20px;
  display: flex;
  width: 90%;
  max-width: 1170px;
  flex-direction: column;
  padding: 2% 5%;
  background: #a2d5c6;
  border: 5px solid #077b8a;
  border-radius: 10px;
}
.details > div {
  height: 50px;
}
.details span {
  font-size: 18px;
  padding-left: 20px;
  font-weight: 700;
}
.main_loader, .detail_loader {
  top: 0;
  left: 0;
  font-size: 60px;
}
a {
  color: #077b8a;
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
a:hover {
  color:#00A0C6; 
  text-decoration: underline; 
  cursor:pointer;
}




